
html {
    background-color: blue;
    background-image: url(https://media.a24.com/p/4a0bdc8159941a2ce1e9442a6c6dcfb5/adjuntos/296/imagenes/009/067/0009067694/1200x675/smart/la-historia-hasbullajpg.jpg);
}


.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
}

#inputUsuario, #inputPassword, #btnIniciarSesion, #btnRegistrarse {
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: bolder;
}

#btnIniciarSesion, #btnRegistrarse {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 5px;

}

#contenedor, h1 {
    color: white;
    margin-bottom: 20px;
}