
html {
    background-color: blue;
}


.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
}

#inputUsuario, #inputPassword, #btnIniciarSesion, #btnRegistrarse {
    width: 200px;
    height: 30px;
    font-size: 16px;
    
}

#btnIniciarSesion, #btnRegistrarse {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 5px;

}

#contenedor, h1 {
    color: white;
    margin-bottom: 20px;
}