* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#eef2ff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px; 
    font-size: 28px;
    color: #333;
}

#buscador, 
#resultados {
    background-color: #f8f8f8;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}

.campo {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 2% 0;
}

.campo label {
    width: 100px;
    font-weight: bold;
}

.campo input {
    flex: 1;
}

input {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #a48df0;
    border-radius: 6px;
    background-color: #faf8ff;
    color: #6f4bc6;
}

input::placeholder {
    color: #6f4bc6;
}

button,
input[type="button"] {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #6d4df7;
    color: white;
    margin-top: 3%;
    width: 100%;
    transition: .15s;
}

input[type="button"]:hover {
    background-color: #5a3fe0;
}

.botones {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.boton {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #6d4df7;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.boton:hover {
    text-decoration: underline;
}
