* { box-sizing: border-box; }

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #e0f3ff, #b3d9f2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0; left: 0;
  z-index: 10;
}
.nav-logo { height: 100%; object-fit: cover; margin-right: 15px; }
.nav-titulo { font-size: 24px; font-weight: bold; color: #2c3e50; }

.contenedor {
  width: 500px;              
  max-width: 90vw;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;

  margin: 100px auto 70px;
  max-height: calc(100vh - 178px);
}

h1 {
  margin: 0 0 12px;
  font-size: 22px;
  color: #2c3e50;
}

#buscador, #resultados {
  background: #ffffff;
  border: 1px solid #e8edf3;
  border-radius: 10px;
  padding: 7px;
}

.campo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.campo label {
  width: 120px;
  font-weight: 600;
  color: #34495e;
}
.campo input {
  flex: 1;
}

input[type="text"],
input[type="email"],
input.datoPerfil {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #a6c8e8;
  border-radius: 8px;
  background-color: #f7fbff;
  color: #2c3e50;
}
input::placeholder { color: #6b7d90; }

.boton {
  display: inline-block;
  margin-top: 10px;
  color: #3498db;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.boton:hover { color: #2980b9; text-decoration: underline; }

#btnBuscar {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .2s ease;
  margin-top: 10px;
  width: 100%;
}
#btnBuscar:hover { background-color: #2980b9; }

.botones {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}
.botones button {
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .2s ease;
  color: #fff;
}

.botones .guardar {
  background-color: #3498db;
}

.botones .guardar:hover {
  background-color: #2980b9;
}

.botones .eliminar {
  background-color: #95a5a6;
}
.botones .eliminar:hover {
  background-color: #7f8c8d;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0; left: 0;
}
