body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eef2ff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

#menuAdmi .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 25px;
    width: 350px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1.5px solid #a48df0;
    border-radius: 6px;
    background-color: #faf8ff;
    color: #6f4bc6;
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.boton {
    background-color: #6d4df7;
    color: white;
    border: none;
}

.boton:hover {
    background-color: #5b3de0;
}