body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eef2ff;
    font-family: Arial, sans-serif;
}

.contenedor {
    background-color: #f8f8f8;
    padding: 25px;
    width: 330px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.boton {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #6d4df7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.boton:hover {
    background-color: #5b3de0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1.5px solid #8c75f0;
    border-radius: 8px;
    background-color: #faf8ff;
    font-size: 15px;
    font-weight: bold;
    color: #6f4bc6;
    cursor: pointer;
}

input::placeholder {
    color: #6f4bc6;
}

/* RESPONSIVE TABLET */
@media (max-width: 1024px) {


    .contenedor {
        width: 380px;
        padding: 28px;
    }


    h1 {
        font-size: 26px;
    }


    .boton {
        font-size: 16px;
        padding: 12px 0;
    }
}

/* RESPONSIVE CELULAR */
@media (max-width: 480px) {


    body {
        height: auto;
        padding: 30px 0;
    }

    .contenedor {
        width: 90%;
        padding: 22px;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 18px;
    }


    .boton {
        width: 100%;
        padding: 14px 0;
        font-size: 16px;
    }


    input {
        font-size: 16px;
        padding: 12px;
    }
}