body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blue; */
    background-color:#eef2ff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px; 
    font-size: 28px;
    /* color: white; */
    color: #333;
}

#perfilUsuario {
    background-color: #f8f8f8;
    /* background-color: #f7f7f7;  */
    padding: 25px;
    /* border: 1px solid #e5e5e5;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); */
    width: 350px;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 85px;
    font-weight: bold;
}

input {
    width: 200px;
    padding: 8px;
    border: 1.5px solid #a48df0;
    border-radius: 6px;
    background-color: #faf8ff;
    color: #6f4bc6;
}

input::placeholder {
    color: #6f4bc6;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.volver {
    background-color: #6d4df7;
    color: white;
}

.guardar {
    background-color: #6d4df7;
    color: white;
}
