body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eef2ff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#perfilUsuario {
    background-color: #f8f8f8;
    padding: 25px;
    width: 330px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.campo {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    width: 100px;
    font-weight: bold;
    color: #333;
}

input {
    width: 80%;
    padding: 7px;
    border: 1.5px solid #8c75f0;
    border-radius: 8px;
    background-color: #faf8ff;
    font-size: 15px;
    color: #6f4bc6;
}

input::placeholder {
    color: #6f4bc6;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

button {
    flex: 1;
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #6d4df7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #5b3de0;
}
